html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

.mod-toolbox #tb-bottombar, .mod-toolbox #tb-bottombar::before, .mod-toolbox #tb-bottombar::after { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box; }

::-webkit-scrollbar { width: 17px; padding: 2px; }

::-webkit-scrollbar-button { background: rgba(0, 0, 0, 0.4); }

::-webkit-scrollbar-track { background: #161616; border-radius: 3px; }

::-webkit-scrollbar-thumb { background: #565656; border-radius: 3px; }

body { background: #1b2838; }

body .error { color: #cc3300; }

body span, body div { color: #fff; }

body textarea, body .roundfield input[type=text], body .roundfield input[type=url], body .roundfield input[type=password], body .roundfield input[type=number] { background-color: rgba(0, 0, 0, 0.2); -moz-box-shadow: 1px 1px 0 0 rgba(91, 132, 181, 0.2); -webkit-box-shadow: 1px 1px 0 0 rgba(91, 132, 181, 0.2); box-shadow: 1px 1px 0 0 rgba(91, 132, 181, 0.2); border-radius: 3px; border: 1px solid #000; outline: none; padding: 4px 6px; color: #C6D4DF; }

body button { background: #21658a; background: -webkit-linear-gradient(top, #21658a 5%, #17435c 95%); background: -moz-linear-gradient(top, #21658a 5%, #17435c 95%); background: -ms-linear-gradient(top, #21658a 5%, #17435c 95%); background: -o-linear-gradient(top, #21658a 5%, #17435c 95%); display: inline-block; padding: 7px 15px; border-radius: 2px; border: none; cursor: pointer; text-decoration: none !important; color: #A4D7F5 !important; }

body button:hover { background: #66c0f4; background: -webkit-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); background: -moz-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); background: -ms-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); background: -o-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); text-decoration: none; color: #fff !important; }

body button[type=submit], body button[name=edit] { background: #a4d007; background: -webkit-linear-gradient(top, #a4d007 5%, #536904 95%); background: -moz-linear-gradient(top, #a4d007 5%, #536904 95%); background: -ms-linear-gradient(top, #a4d007 5%, #536904 95%); background: -o-linear-gradient(top, #a4d007 5%, #536904 95%); border: none; color: #D2E885 !important; }

body button[type=submit]:hover, body button[name=edit]:hover { background: #b6d908; background: -webkit-linear-gradient(top, #b6d908 5%, #80a006 95%); background: -moz-linear-gradient(top, #b6d908 5%, #80a006 95%); background: -ms-linear-gradient(top, #b6d908 5%, #80a006 95%); background: -o-linear-gradient(top, #b6d908 5%, #80a006 95%); text-decoration: none !important; color: #fff !important; }

body .roundfield, body .linefield, body .tabbedpane { background: rgba(0, 0, 0, 0.4); min-width: 520px; padding: 5px 15px 10px 15px; border-radius: 0; color: #ebebeb; }

body .roundfield textarea, body .roundfield input[type=text], body .roundfield input[type=url], body .roundfield input[type=password], body .roundfield input[type=number] { background-color: rgba(0, 0, 0, 0.2); border: 1px solid #000; border-radius: 3px; -moz-box-shadow: 1px 1px 0 0 rgba(91, 132, 181, 0.2); -webkit-box-shadow: 1px 1px 0 0 rgba(91, 132, 181, 0.2); box-shadow: 1px 1px 0 0 rgba(91, 132, 181, 0.2); padding: 3px; margin-bottom: 6px; width: 492px; font-size: 100%; color: #C6D4Df; }

body .linefield textarea, body .linefield .roundfield input[type=text], body .roundfield .linefield input[type=text], body .linefield .roundfield input[type=url], body .roundfield .linefield input[type=url], body .linefield .roundfield input[type=password], body .roundfield .linefield input[type=password], body .linefield .roundfield input[type=number], body .roundfield .linefield input[type=number], body .linefield input[type=text], body .linefield input[type=url], body .linefield input[type=password], body .linefield input[type=number] { background-color: rgba(0, 0, 0, 0.2); border: 1px solid #000; border-radius: 3px; -moz-box-shadow: 1px 1px 0 0 rgba(91, 132, 181, 0.2); -webkit-box-shadow: 1px 1px 0 0 rgba(91, 132, 181, 0.2); box-shadow: 1px 1px 0 0 rgba(91, 132, 181, 0.2); padding: 3px; margin-bottom: 6px; width: 492px; font-size: 100%; color: #C6D4Df; }

body .linefield .title { color: #66C0F4; }

body .linefield.flair-jump { background: none; }

body button[class=RESBigEditorPop] { background: rgba(103, 193, 245, 0.2) !important; border: none  !important; color: #67c1f5 !important; padding: 6px 17px !important; text-indent: 0 !important; }

body button[class=RESBigEditorPop]:hover { background: #417a9b; background: -webkit-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95% !important); background: -moz-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95% !important); background: -ms-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95% !important); background: -o-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95% !important); text-decoration: none !important; color: #fff !important; }

body .expando-button.image, body .expando-button.video-muted, body .expando-button.selftext.collapsed, body .expando-button.selftext.expanded, body .eb-se, body .expando-button.selftext.collapsed:hover, body .eb-sch, body .expando-button.selftext.expanded:hover, body .eb-seh, body .expando-button.video.collapsed, body .expando-button.video.expanded, body .eb-ve, body .expando-button.video.expanded:hover, body .eb-veh, body .expando-button.video.collapsed:hover, body .eb-vch { background-color: transparent; }

#header { border-bottom: none; background: #171a21; z-index: 99; height: 122px; }

#header #sr-header-area { background: #101822; border-bottom: 1px solid rgba(128, 128, 128, 0.49); }

#header #sr-header-area .sr-bar, #header #sr-header-area .sr-bar a, #header #sr-header-area .dropdown.srdrop .selected { color: #b8b6b4; }

#header #sr-header-area .drop-choices.srdrop { background: #1e5799; background: -webkit-linear-gradient(left, #1e5799 0%, #5e5a58 0%, #3c3a39 100%); background: -moz-linear-gradient(left, #1e5799 0%, #5e5a58 0%, #3c3a39 100%); background: -o-linear-gradient(left, #1e5799 0%, #5e5a58 0%, #3c3a39 100%); background: -ms-linear-gradient(left, #1e5799 0%, #5e5a58 0%, #3c3a39 100%); }

#header #sr-header-area .drop-choices.srdrop a { color: #bfbfbf; }

#header #sr-header-area .drop-choices.srdrop a:hover { background: #212d3d; }

#header #sr-header-area #RESShortcutsEditContainer, #header #sr-header-area #RESShortcutsEditContainer #RESShortcutsSort, #header #sr-header-area #RESShortcutsEditContainer #RESShortcutsRight, #header #sr-header-area #RESShortcutsEditContainer #RESShortcutsLeft, #header #sr-header-area #RESShortcutsEditContainer #RESShortcutsAdd, #header #sr-header-area #RESShortcutsEditContainer #RESShortcutsTrash { background: transparent !important; color: #8ED1F9 !important; }

#header #sr-header-area #sr-more-link { background-color: #5195C5; padding: 0 5px 0 6px; }

#header #header-bottom-left { font-size: larger; }

#header #header-bottom-left #header-img { display: none !important; }

#header #header-bottom-left .pagename { font-size: 0px !important; }

#header #header-bottom-left .pagename a { background: url(%%logo%%) no-repeat; position: absolute; display: block; top: 48px; left: 24px; width: 176px; height: 44px; text-indent: -30000px; }

#header #header-bottom-left .tabmenu { line-height: 90px; margin-left: 225px; }

#header #header-bottom-left .tabmenu li.selected a { background: none; border: none; font-size: inherit; color: #fff; }

#header #header-bottom-left .tabmenu li a { background: none; padding: 2px 6px 0 6px; font-weight: normal; text-transform: uppercase; color: #b8b6b4; }

#header #header-bottom-left .tabmenu li a:hover { text-decoration: none; color: #fff; }

#header #header-bottom-right { background: none; margin-bottom: 80px; }

.res #header #header-bottom-right { top: 19px; }

#header #header-bottom-right a { color: #b8b6b4; }

#header #header-bottom-right #userbarToggle { background: #535b5f !important; border-right: none !important; border-radius: 18px !important; padding-right: 0 !important; top: 5px !important; left: 0 !important; width: 15px !important; height: 15px !important; min-height: initial !important; line-height: 14px !important; text-align: center !important; font-size: 14px !important; color: #b8b6b4 !important; }

#header #header-bottom-right .user { color: #b8b6b4; }

#header #header-bottom-right .user a { color: #b8b6b4; }

#header #header-bottom-right #RESAccountSwitcherIcon, #header #header-bottom-right #mail.havemail, #header #header-bottom-right #mail.nohavemail, #header #header-bottom-right #modmail.havemail, #header #header-bottom-right #modmail.nohavemail { background: url(%%usprites%%) no-repeat !important; background-position: 0px 0px; width: 16px !important; }

#RESAccountSwitcherIconOverlay { background: url(%%usprites%%) no-repeat !important; background-position: -14px 3px !important; width: 17px !important; height: 16px; }

#header #header-bottom-right #mail.havemail { background-position: -17px -37px !important; }

#header #header-bottom-right #mail.havemail::before { content: ""; position: fixed; background: url(%%mailn%%); background-repeat: no-repeat; background-size: 80px 57px; background-position: -16px -7px; -moz-box-shadow: 0 0 0 1px #5e7944; -webkit-box-shadow: 0 0 0 1px #5e7944; box-shadow: 0 0 0 1px #5e7944; border: 3px solid #96c05e; border-radius: 5px; width: 49px; height: 43px; bottom: 15px; right: 280px; -webkit-transform: translateY(112px); transform: translateY(112px); transition: background-color 0.25s ease, box-shadow 0.25s ease; animation-name: toast; animation-duration: 8s; animation-iteration-count: 1; animation-timing-function: ease; -webkit-animation-name: toast; -webkit-animation-duration: 8s; -webkit-animation-iteration-count: 1; -webkit-animation-timing-function: ease; z-index: 101; }

#header #header-bottom-right #mail.havemail::after { content: "You have new messages!"; background: #353432; background: -webkit-linear-gradient(top, #353432 0%, #1f1d1e 100%); background: -moz-linear-gradient(top, #353432 0%, #1f1d1e 100%); background: -ms-linear-gradient(top, #353432 0%, #1f1d1e 100%); background: -o-linear-gradient(top, #353432 0%, #1f1d1e 100%); position: fixed; border-radius: 2px; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24); padding: 16px 24px; bottom: -1px; right: 3px; width: 300px; height: 48px; text-indent: 66px; line-height: 45px !important; font-family: arial, sans-serif; font-size: 14px; -webkit-transform: translateY(112px); transform: translateY(112px); transition: background-color 0.25s ease, box-shadow 0.25s ease; animation-name: toast; animation-duration: 8s; animation-iteration-count: 1; animation-timing-function: ease; -webkit-animation-name: toast; -webkit-animation-duration: 8s; -webkit-animation-iteration-count: 1; -webkit-animation-timing-function: ease; z-index: 100; }

.mod-toolbox #header #header-bottom-right #mail.havemail.havemail::before { bottom: 40px; }

.mod-toolbox #header #header-bottom-right #mail.havemail.havemail::after { bottom: 24px; }

#header #header-bottom-right #mail.nohavemail { background-position: -1px -37px !important; }

#header #header-bottom-right #modmail.havemail { background-position: -16px -17px !important; }

#header #header-bottom-right #modmail.nohavemail { background-position: 0px -17px !important; }

.side { background: rgba(0, 0, 0, 0.2); padding: 16px; margin: 450px 19px 50px 5px; width: 332px; }

body:not(.search-page) #search { position: absolute; top: 137px; z-index: 1; }

#search input[type=text] { background: #5195c5; border: none; border-radius: 5px; -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.91); -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.91); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.91); height: 30px; font-size: 13px; }

#search input[type=text]::-webkit-input-placeholder { font-style: italic; color: #305d8a; }

#search input[type=text]:-moz-input-placeholder { font-style: italic; color: #305d8a; }

#search input[type=text]::-moz-input-placeholder { font-style: italic; color: #305d8a; }

#search input[type=text]::-ms-input-placeholder { font-style: italic; color: #305d8a; }

#search #searchexpando, #search #moresearchinfo { color: #5491cf; }

#search .infobar { background: #212f43; border-color: #7A9CD3; }

.side .morelink { background-color: rgba(103, 193, 245, 0.2); background-image: none; display: block; border: none; border-radius: 2px; padding: 1px; }

.side .morelink div.nub { display: none; }

.side .morelink a { color: #67c1f5; font-weight: normal; }

.side .morelink:hover { background: #417a9b; background: -webkit-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); background: -moz-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); background: -ms-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); background: -o-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); }

.side .morelink:hover a { color: #fff !important; }

.side .sidebox.submit.submit-link { margin-top: -12px; }

.side .titlebox .redditname { text-align: center; text-decoration: none; }

.side .titlebox .redditname a { color: #fff; text-transform: capitalize; }

.side .titlebox .redditname a:hover { text-decoration: none; }

.side .titlebox .redditname a::before { content: "/r/"; text-transform: none; }

.side .titlebox .users-online { display: inline; }

.side .titlebox .users-online::before, .side .titlebox .users-online .word { display: none; }

.side .titlebox .users-online .number::before { content: " ("; }

.side .titlebox .users-online .number::after { content: ")"; }

.side .titlebox .subscribers { display: inline; }

.side .titlebox .fancy-toggle-button .add { background: #a4d007; background: -webkit-linear-gradient(top, #a4d007 5%, #536904 95%); background: -moz-linear-gradient(top, #a4d007 5%, #536904 95%); background: -ms-linear-gradient(top, #a4d007 5%, #536904 95%); background: -o-linear-gradient(top, #a4d007 5%, #536904 95%); border: none !important; border-radius: 2px !important; font-weight: normal !important; color: #d2e885 !important; }

.side .titlebox .fancy-toggle-button .add:hover { background: #b6d908; background: -webkit-linear-gradient(top, #b6d908 5%, #80a006 95%); background: -moz-linear-gradient(top, #b6d908 5%, #80a006 95%); background: -ms-linear-gradient(top, #b6d908 5%, #80a006 95%); background: -o-linear-gradient(top, #b6d908 5%, #80a006 95%); }

.side .titlebox .fancy-toggle-button .remove { background: #2f89bc; background: -webkit-linear-gradient(top, #2f89bc 5%, #17435c 95%); background: -moz-linear-gradient(top, #2f89bc 5%, #17435c 95%); background: -ms-linear-gradient(top, #2f89bc 5%, #17435c 95%); background: -o-linear-gradient(top, #2f89bc 5%, #17435c 95%); border: none !important; border-radius: 2px !important; font-weight: normal !important; color: #fff !important; }

.side .titlebox .fancy-toggle-button .remove:hover { background: #66c0f4; background: -webkit-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); background: -moz-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); background: -ms-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); background: -o-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); }

body:not(.res) .side .titlebox .fancy-toggle-button { margin-left: calc(332px / 2 - 100px); }

.side .titlebox .leavemoderator, .side .titlebox .toggle.leavecontributor-button, .side .titlebox .flairtoggle, .side .titlebox .tagline { display: none; }

.res .titlebox .users-online { display: inline; position: relative; }

.res .titlebox .users-online .word { display: inline; }

.res .titlebox .users-online .number::before { content: ", "; }

.res .titlebox .users-online .number::after { content: ""; }

.res .titlebox .subscribers { display: inline; position: relative; margin-left: calc(50% - 89px); }

.res .titlebox h1 .redditname + div { text-align: center; color: #fff; }

.res .titlebox #subButtons-steamcss { text-align: center; padding-top: 5px; }

.res .titlebox .RESshortcutside, .res .titlebox .RESDashboardToggle { background: #a4d007; background: -webkit-linear-gradient(top, #a4d007 5%, #536904 95%); background: -moz-linear-gradient(top, #a4d007 5%, #536904 95%); background: -ms-linear-gradient(top, #a4d007 5%, #536904 95%); background: -o-linear-gradient(top, #a4d007 5%, #536904 95%); border: none !important; border-radius: 2px !important; font-weight: normal !important; color: #d2e885 !important; }

.res .titlebox .RESshortcutside:hover, .res .titlebox .RESDashboardToggle:hover { background: #b6d908; background: -webkit-linear-gradient(top, #b6d908 5%, #80a006 95%); background: -moz-linear-gradient(top, #b6d908 5%, #80a006 95%); background: -ms-linear-gradient(top, #b6d908 5%, #80a006 95%); background: -o-linear-gradient(top, #b6d908 5%, #80a006 95%); }

.res .titlebox .RESshortcutside.remove, .res .titlebox .RESDashboardToggle.remove { background: #2f89bc; background: -webkit-linear-gradient(top, #2f89bc 5%, #17435c 95%); background: -moz-linear-gradient(top, #2f89bc 5%, #17435c 95%); background: -ms-linear-gradient(top, #2f89bc 5%, #17435c 95%); background: -o-linear-gradient(top, #2f89bc 5%, #17435c 95%); border: none !important; border-radius: 2px !important; font-weight: normal !important; color: #fff !important; }

.res .titlebox .RESshortcutside.remove:hover, .res .titlebox .RESDashboardToggle.remove:hover { background: #66c0f4; background: -webkit-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); background: -moz-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); background: -ms-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); background: -o-linear-gradient(top, #66c0f4 5%, #2f89bc 95%); }

.side .sidecontentbox { background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%) repeat scroll 0 0 transparent; }

.side .sidecontentbox .content { border: none; padding: 13px; }

.side .sidecontentbox .title { cursor: pointer; padding-top: 13px; }

.side .sidecontentbox .title::after { content: ""; background: #1e323f; border-top: 1px solid #000; display: block; margin-top: 8px; height: 1px; }

.side .sidecontentbox .title h1 { padding-left: 13px; font-size: 12px; color: #61696D; }

.side .sidecontentbox .icon-menu a { background: none; color: #e1e1e1; }

.side .sidecontentbox .icon-menu a:hover { text-decoration: none !important; color: #fff; }

.side .sidecontentbox .gadget .score { color: #8f98a0 !important; }

.side .sidecontentbox .gadget .click-gadget a { color: #e1e1e1; }

.side .sidecontentbox a.helplink { padding-top: 8px; padding-right: 13px; color: #e1e1e1; }

.side .sidebox.create { display: none; }

.side .md { color: #fff; }

.side .md h6:last-of-type { background: rgba(103, 193, 245, 0.4); position: absolute; display: block; margin: 0 19px; height: 35px; top: 134px; right: 0px; left: 0px; }

.side .md blockquote:first-of-type { position: absolute; border-left: none; top: 129px; left: 6px; z-index: 1; }

.side .md blockquote p:first-child { background: #eff7ff; border: 1px solid #cee3f8; padding: 5px; margin-top: 0px; float: left; font-weight: bold; color: reddiquette; cursor: default; }

.side .md blockquote ul { background: #417A9B; padding: 0; margin-top: 0; max-height: 35px; overflow: hidden; float: left; text-align: center; color: #fff !important; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease; }

.side .md blockquote ul:hover { max-height: 100%; }

.side .md blockquote ul li:first-child { background: none; border-right: 1px solid #000; display: block; height: 35px; line-height: 35px; font-size: 12px; cursor: default; }

.side .md blockquote ul li:first-child:hover { background: #67c1f5; background: -webkit-linear-gradient(-60deg, #67c1f5 0%, #417a9b 100%); background: -moz-linear-gradient(-60deg, #67c1f5 0%, #417a9b 100%); background: -ms-linear-gradient(-60deg, #67c1f5 0%, #417a9b 100%); background: -o-linear-gradient(-60deg, #67c1f5 0%, #417a9b 100%); color: #fff; }

.side .md blockquote ul li:first-child:hover a { color: #fff; }

.side .md blockquote ul li:first-of-type:not(:only-child) a::after { content: ""; background: url(%%expand%%); position: relative; display: inline-block; padding: 0; top: 2px; left: 5px; width: 19px; height: 12px; }

.side .md blockquote ul li:not(:first-of-type) a { padding: 5px 12px; color: #e5e4dc; }

.side .md blockquote ul li:not(:first-of-type) a:hover { background: #212d3d; }

.side .md blockquote ul li a { display: block; padding: 0 15px; font-size: 13px; color: #67c1f5; }

.side .md h3 + blockquote { background: #1c3249; background: -webkit-linear-gradient(left, #1c3249 0%, #111a23 100%); background: -moz-linear-gradient(left, #1c3249 0%, #111a23 100%); background: -ms-linear-gradient(left, #1c3249 0%, #111a23 100%); background: -o-linear-gradient(left, #1c3249 0%, #111a23 100%); position: absolute; border: none; padding-left: 18px; padding-right: 18px; padding-bottom: 3px; top: 183px; right: 19px; width: 332px; height: 369px; color: #fff; }

.side .md h3 + blockquote a::before { content: ""; background: url(%%sidebarimg%%); background-size: 100%; position: relative; display: block; top: -7px; right: 18px; width: 332px; height: 300px; }

.side .md h3 + blockquote h1 { margin-bottom: -5px !important; font-weight: normal; font-size: 21px; color: #c7d5e0 !important; }

.side .md h3 + blockquote h1 a { color: #c7d5e0 !important; }

.side .linkinfo { background: #5f8fc6; background: -webkit-linear-gradient(-45deg, #5f8fc6 0%, #416393 100%); background: -moz-linear-gradient(-45deg, #5f8fc6 0%, #416393 100%); background: -ms-linear-gradient(-45deg, #5f8fc6 0%, #416393 100%); background: -o-linear-gradient(-45deg, #5f8fc6 0%, #416393 100%); border: none; margin: -12px 0 28px 0; color: #DCDCDC; }

.content { margin: 59px 366px 5px 19px; }

.content .reddit-infobar { background: url(%%locked%%); border: none; top: 44px; margin-bottom: -49px; margin-right: 0px; padding-left: 34px; }

.content .reddit-infobar .md { font-size: 14px; color: #8F98A0; }

.content .reddit-infobar .md p { line-height: 0px !important; }

.content .reddit-infobar.with-icon { min-height: initial; }

.content .reddit-infobar.with-icon::before { content: ""; background: url(%%lock%%); display: block; margin-top: 8px; margin-left: 11px; width: 16px; height: 15px; }

.content .thing .title:visited, .content .thing.visited .title { font-weight: bold; color: #e1e1e1; }

.content .thing .entry.RES-keyNav-activeElement, .content .thing .entry.RES-keyNav-activeElement div.entry.md, .content .thing .entry.RES-keyNav-activeElement .entry.user-text-body, .content .thing .entry.RES-keyNav-activeElement div.entry.noncollapsed { background: none transparent !important; }

.content .thing .entry.RES-keyNav-activeElement div.md { background: #1e2d40 !important; border-radius: 7px; }

.content .thing.link { background: rgba(84, 133, 183, 0.2); padding: 10px; margin-bottom: 2px; }

.content .thing.link:hover { background-color: rgba(117, 186, 255, 0.3); }

.content .thing.link .rank, .content .thing.link .rank-spacer { width: 1.1ex; display: none; }

.content .thing.link .midcol { overflow: visible; }

.content .thing.link .arrow { background-image: url(%%sprites%%) !important; border: none !important; outline: none !important; margin: 2px 0 0 0; margin-right: auto; margin-left: auto; }

.content .thing.link .arrow.up { background-position: 0 -24px; opacity: 0.6; }

.content .thing.link .arrow.upmod { background-position: -15px -24px; opacity: 0.9; }

.content .thing.link .arrow.down { background-position: -30px -24px; opacity: 0.6; }

.content .thing.link .arrow.downmod { background-position: -45px -24px; opacity: 0.9; }

.content .thing.link .title { font-weight: bold; color: #e1e1e1; }

.content .thing.link .title .domain, .content .thing.link .title .domain a { color: #b8b6b4; }

.content .thing.link .title .tagline { color: #939393; }

a.author { color: #8ED1F9; }

.content .thing.link .usertext-body .md { background: #1E2D40 !important; border: 1px solid #369; border-radius: 7px; }

.comments-page .content .thing.link { background: #395174; background: -webkit-linear-gradient(-45deg, #395174 0%, #212f43 100%); background: -moz-linear-gradient(-45deg, #395174 0%, #212f43 100%); background: -ms-linear-gradient(-45deg, #395174 0%, #212f43 100%); background: -o-linear-gradient(-45deg, #395174 0%, #212f43 100%); -moz-box-shadow: 0 0 5px #000; -webkit-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; }

.content .thing.stickied a.title, .content .thing.stickied a.title:visited, .content .thing.stickied a.title.visited { font-weight: normal; color: #dcdcdc; }

.content .thing.stickied .score { color: #8f98a0; }

.content .thing.stickied .tagline .stickied-tagline { color: #AEDD08; }

.listing-page .content .thing.stickied p.title::before { content: "PINNED: "; font-weight: bold; font-size: 14px; color: #AEDD08; }

.listing-page .content .thing.stickied .midcol::before { content: ""; background: url(%%pin%%); position: absolute; display: block; margin-top: 17px; margin-left: 3px; width: 16px; height: 15px; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; }

.listing-page .content .thing.stickied .midcol .arrow, .listing-page .content .thing.stickied .midcol .score { -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-transition: -webkit-transform 0.2s; transition-duration: 0.2s; }

.listing-page .content .thing.stickied .midcol:hover::before { -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -ms-transform: scale(0); transform: scale(0); }

.listing-page .content .thing.stickied .midcol:hover .arrow { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); display: block !important; }

.listing-page .content .thing.stickied .midcol:hover .score { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.comments-page .content .thing.stickied { margin-top: 104px; }

.comments-page .content .thing.stickied::before { content: ""; background: url(%%pin%%); position: absolute; top: 190px; left: 30px; width: 16px; height: 16px; z-index: 1; }

.comments-page .content .thing.stickied::after { content: "This topic has been pinned, so it's probably important"; background: #364a2e; display: block; position: absolute; padding: 8px; top: 181px; left: 19px; right: 366px; font-size: 14px; text-indent: 26px; color: #AEDD08; }

.content .thing.linkflair-lock { background: url(%%locked%%); }

.content .thing.linkflair-lock .midcol::before { content: ""; background: url(%%lock%%); display: block; margin-top: 18px; margin-left: 3px; width: 16px; height: 15px; }

.content .thing.linkflair-lock .midcol:hover::before { -webkit-animation: shake 0.5s ease-in-out; -moz-animation: shake 0.5s ease-in-out; -o-animation: shake 0.5s ease-in-out; -ms-animation: shake 0.5s ease-in-out; animation: shake 0.5s ease-in-out; }

.content .thing.linkflair-lock .midcol .arrow, .content .thing.linkflair-lock .midcol .score { display: none !important; }

.comments-page .content .thing.linkflair-lock { background: -webkit-linear-gradient(top, rgba(57, 81, 116, 0.2) 0%, rgba(57, 81, 116, 0.2) 100%), url(%%locked%%) repeat 0 0, url(%%locked%%) repeat 0 0; margin-top: 104px; }

.comments-page .content .thing.linkflair-lock::before { content: ""; background: url(%%lock%%); position: absolute; top: 190px; left: 30px; width: 16px; height: 16px; z-index: 1; }

.comments-page .content .thing.linkflair-lock::after { content: "This topic has been locked"; background: url(%%locked%%); position: absolute; display: block; padding: 8px; top: 181px; left: 19px; right: 366px; text-indent: 26px; font-size: 14px; color: #8F98A0; }

.footer-parent { background: rgba(0, 0, 0, 0.4); }

.footer-parent .footer { border: none; }

.footer-parent .footer .col { border: none; }

.footer-parent .footer .col .flat-vert .title { color: #8f98a0; text-transform: capitalize; }

.footer-parent .footer .col .flat-vert ul li a:hover { text-transform: none !important; }

.footer-parent .footer a { color: #fff !important; }

.debuginfo { background: rgba(0, 0, 0, 0.4); }

.debuginfo::before { content: "Theme by /u/Soul_Shot"; float: left; line-height: 5px; }

.comments-page .thing.comment, .comments-page .res-commentBoxes .comment { background-color: rgba(32, 47, 67, 0.8); border: 1px solid #26384f !important; border-radius: 0 !important; margin-bottom: 2px !important; padding: 11px !important; -moz-box-shadow: 0 0 5px #000; -webkit-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; }

.bottom-area a.reddiquette, .bottom-area .help-toggle { background: rgba(0, 0, 0, 0.5); border: none; border-radius: 2px; display: inline-block; padding: 0 5px; line-height: 22px; cursor: pointer; text-decoration: none !important; color: #67c1f5 !important; }

.bottom-area .help-toggle .option { color: #67c1f5 !important; }

.comments-page .usertext.border .usertext-body { background: none; }

.res-commentBoxes .comment .comment, .res-commentBoxes .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #1E2D40 !important; border: 1px solid rgba(42, 67, 99, 0.45) !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.comments-page .linklisting .md, .comments-page .commentarea .md { color: #acb2b8 !important; }

.comments-page .new-comment .usertext-body { background-color: #395174; border: solid 1px #466A9B; }

.comments-page .comment .child, .comments-page .comment .showreplies { border: none; }

.comments-page span.score { color: #8f98a0 !important; }

.search-page .searchpane { background-color: rgba(0, 0, 0, 0.4); border: none; border-radius: 0; margin: 0; }

.submit-page h1:first-of-type { margin-top: -4px; color: #67c1f5; text-transform: capitalize; }

.submit-page h1:first-of-type a { color: #67c1f5; }

.submit-page h1:first-of-type a::before { content: "/r/"; text-transform: lowercase; }

.submit-page .content.submit { margin: 15px 0px 0px 0px; }

.submit-page .usertext .markdownEditor-wrapper, .submit-page .usertext-edit { width: 490px !important; }

.submit-page .tabmenu { line-height: initial; margin-left: 0; padding-left: 0 !important; margin-bottom: 5px !important; }

.submit-page .tabmenu.formtab .selected a { background: #66c0f4; background: -webkit-linear-gradient(top, #66c0f4 5%, #417b9c 95%); background: -moz-linear-gradient(top, #66c0f4 5%, #417b9c 95%); background: -ms-linear-gradient(top, #66c0f4 5%, #417b9c 95%); background: -o-linear-gradient(top, #66c0f4 5%, #417b9c 95%); border: none; border-radius: 2px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; margin-top: 0; padding: 5px 18px; height: 34px; text-decoration: none; font-size: 130%; color: #fff; }

.submit-page .tabmenu.formtab li { margin-right: 5px; }

.submit-page .tabmenu.formtab a { background-color: rgba(0, 0, 0, 0.5); border: none; border-radius: 2px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; padding: 5px 18px; font-weight: normal; text-transform: none; color: #dadada; }

.submit-page .tabmenu.formtab a:hover { background-color: rgba(102, 192, 244, 0.8); color: #fff; }

.submit-page .formtabs-content .infobar { background: rgba(0, 0, 0, 0.2); border: none; margin: 0; margin-top: -9px; color: #fff; }

.submit-page .info-notice { background-color: rgba(0, 0, 0, 0.4) !important; border: none !important; padding: 9px !important; font-weight: bold; }

.submit-page #reddit-field { display: none; }

.tabpane-content { border: none; }

.tabpane-content .tabbedpane { border-top: 5px solid #417b9c; }

.tabpane-content .tabbedpane .flair-jump form[method=get] { width: 430px; }

.tabpane-content .tabbedpane .flair-jump form[method=get] button[type=submit] { background: rgba(103, 193, 245, 0.2); border: none; color: #67c1f5 !important; padding: 6px 17px; float: right; }

.tabpane-content .tabbedpane .flair-jump form[method=get] button[type=submit]:hover { background: #417a9b; background: -webkit-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); background: -moz-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); background: -ms-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); background: -o-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); text-decoration: none; color: #fff; }

.tabpane-content .usertable > .toggle { background: rgba(103, 193, 245, 0.2); border: none; padding: 6px 17px; }

.tabpane-content .usertable > .toggle:hover { background: #417a9b; background: -webkit-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); background: -moz-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); background: -ms-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); background: -o-linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%); text-decoration: none; color: #fff; }

.tabpane-content .usertable > .toggle .togglebutton, .tabpane-content .usertable > .toggle .error { border: none; margin-left: 0; color: #67c1f5 !important; }

.tabmenu li.selected a { background: #66c0f4; background: -webkit-linear-gradient(top, #66c0f4 5%, #417b9c 95%); background: -moz-linear-gradient(top, #66c0f4 5%, #417b9c 95%); background: -ms-linear-gradient(top, #66c0f4 5%, #417b9c 95%); background: -o-linear-gradient(top, #66c0f4 5%, #417b9c 95%); border: none; border-radius: 2px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; margin-top: 0; padding: 5px 18px; height: 34px; text-decoration: none; font-size: 130%; color: #fff; }

.tabmenu #tab-grant a, .tabmenu #tab-templates a, .tabmenu #tab-link_templates a { background-color: rgba(0, 0, 0, 0.5); border: none; border-radius: 2px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; padding: 5px 18px; font-weight: normal; text-transform: none; color: #dadada; }

.tabmenu #tab-grant a:hover, .tabmenu #tab-templates a:hover, .tabmenu #tab-link_templates a:hover { background-color: rgba(102, 192, 244, 0.8); color: #fff; }

.stylesheet-customize-container { background: rgba(0, 0, 0, 0.2); padding: 1px 0 0px 16px; }

.stylesheet-customize-container h2:first-of-type { margin-top: 10px; text-transform: capitalize; color: #67c1f5; font-weight: normal; font-size: 18px; }

.stylesheet-customize-container .error { color: #cc3300; margin-bottom: 28px; margin-top: 13px; padding-bottom: 16px; }

.stylesheet-customize-container ul#image-preview-list { margin: -15px; }

.stylesheet-customize-container ul#image-preview-list li { background: rgba(0, 0, 0, 0.2); float: left; position: relative; padding: 8px 8px; margin: 0 5px 5px -1px; width: 314px; overflow: hidden; }

#siteTable .thing .md, .wiki-page-content .md { padding: 0px 10px 10px 10px; }

#siteTable .thing .md h1, #siteTable .thing .md h2, #siteTable .thing .md h3, #siteTable .thing .md p, #siteTable .thing .md blockquote, #siteTable .thing .md ul, #siteTable .thing .md ol, #siteTable .thing .md hr, #siteTable .thing .md pre, #siteTable .thing .md table, .wiki-page-content .md h1, .wiki-page-content .md h2, .wiki-page-content .md h3, .wiki-page-content .md p, .wiki-page-content .md blockquote, .wiki-page-content .md ul, .wiki-page-content .md ol, .wiki-page-content .md hr, .wiki-page-content .md pre, .wiki-page-content .md table { font-family: "Trebuchet MS", Helvetica, sans-serif; margin: 20px 10px 10px 10px; }

#siteTable .thing .md h1, .wiki-page-content .md h1 { text-align: center; font-size: 34px; color: #fff; text-shadow: 1px 1px 0 #000000; font-weight: normal; }

#siteTable .thing .md h2, .wiki-page-content .md h2 { font-size: 24px; font-weight: normal; color: #c6d4df; }

#siteTable .thing .md h3, .wiki-page-content .md h3 { font-size: 18px; font-weight: normal; color: #fff; }

#siteTable .thing .md h4, .wiki-page-content .md h4 { color: #67c1f5; font-size: 18px; font-weight: normal; }

#siteTable .thing .md h5, .wiki-page-content .md h5 { margin: -5px 10px 10px 10px; color: #666666; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: italic; font-size: 14px; }

#siteTable .thing .md h6, .wiki-page-content .md h6 { margin: 40px 80px; color: #666666; font-family: Arial, Helvetica, sans-serif; font-weight: normal; text-align: center; font-style: italic; font-size: 14px; }

#siteTable .thing .md p, .wiki-page-content .md p { line-height: 20px; font-size: 14px; }

#siteTable .thing .md ul, #siteTable .thing .md ol, .wiki-page-content .md ul, .wiki-page-content .md ol { border-right: solid 1px #eaeaea; border-left: solid 1px #eaeaea; border-top: solid 1px #eaeaea; line-height: 20px; font-size: 14px; padding: 0; }

#siteTable .thing .md ul li, #siteTable .thing .md ol li, .wiki-page-content .md ul li, .wiki-page-content .md ol li { border-bottom: solid 1px #eaeaea; background-color: #f8f8f8; padding: 5px; }

#siteTable .thing .md ul li:nth-child(odd), #siteTable .thing .md ol li:nth-child(odd), .wiki-page-content .md ul li:nth-child(odd), .wiki-page-content .md ol li:nth-child(odd) { background-color: #f2f2f2; }

#siteTable .thing .md ul, .wiki-page-content .md ul { list-style: none; }

#siteTable .thing .md ol, .wiki-page-content .md ol { list-style-position: inside; }

#siteTable .thing .md blockquote, .wiki-page-content .md blockquote { padding: 1px 10px 10px 10px; border-left: solid 5px #aaaaaa; background-color: #f2f2f2; line-height: 20px; font-size: 14px; }

#siteTable .thing .md hr, .wiki-page-content .md hr { margin: 40px 80px; background-color: #cccccc; border: none; height: 1px; }

#siteTable .thing .md code, .wiki-page-content .md code { background-color: #f2f2f2; display: inline-block; padding: 2px 4px; }

#siteTable .thing .md table thead tr th, .wiki-page-content .md table thead tr th { background-color: #dddddd; font-weight: normal; padding: 10px 20px; font-size: 14px; border: none; }

#siteTable .thing .md table tbody tr, .wiki-page-content .md table tbody tr { border-bottom: solid 1px #eaeaea; }

#siteTable .thing .md table tbody tr td, .wiki-page-content .md table tbody tr td { padding: 10px 20px; border: none; }

#siteTable .thing .md pre, .wiki-page-content .md pre { padding: 18px 10px 18px 52px; background-color: #45699A; color: #fff; border: 1px solid #8ED1F9; position: relative; line-height: 18px; font-size: 12px; display: block; width: auto; }

#siteTable .thing .md pre::before, .wiki-page-content .md pre::before { content: '#  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100  101  102  103  104  105  106  107  108  109  110  111  112  113  114  115  116  117  118  119  120  121  122  123  124  125  126  127  128  129  130  131  132  133  134  135  136  137  138  139  140  141  142  143  144  145  146  147  148  149  150  151  152  153  154  155  156  157  158  159  160  161  162  163  164  165  166  167  168  169  170  171  172  173  174  175  176  177  178  179  180  181  182  183  184  185  186  187  188  189  190  191  192  193  194  195  196  197  198  199  200  201  202  203  204  205  206  207  208  209  210  211  212  213  214  215  216  217  218  219  220  221  222  223  224  225  226  227  228  229  230  231  232  233  234  235  236  237  238  239  240  241  242  243  244  245  246  247  248  249  250  251  252  253  254  255  256  257  258  259  260  261  262  263  264  265  266  267  268  269  270  271  272  273  274  275  276  277  278  279  280  281  282  283  284  285  286  287  288  289  290  291  292  293  294  295  296  297  298  299  300  301  302  303  304  305  306  307  308  309  310  311  312  313  314  315  316  317  318  319  320  321  322  323  324  325  326  327  328  329  330  331  332  333  334  335  336  337  338  339  340  341  342  343  344  345  346  347  348  349  350  351  352  353  354  355  356  357  358  359  360  361  362  363  364  365  366  367  368  369  370  371  372  373  374  375  376  377  378  379  380  381  382  383  384  385  386  387  388  389  390  391  392  393  394  395  396  397  398  399  400  401  402  403  404  405  406  407  408  409  410  411  412  413  414  415  416  417  418  419  420  421  422  423  424  425  426  427  428  429  430  431  432  433  434  435  436  437  438  439  440  441  442  443  444  445  446  447  448  449  450  451  452  453  454  455  456  457  458  459  460  461  462  463  464  465  466  467  468  469  470  471  472  473  474  475  476  477  478  479  480  481  482  483  484  485  486  487  488  489  490  491  492  493  494  495  496  497  498  499  500  '; border-right: solid 2px #6AC7FF; background-color: #395174; padding: 0px 10px 0px 5px; white-space: pre-wrap; position: absolute; line-height: 18px; text-align: right; overflow: hidden; font-size: 12px; height: 100%; width: 18px; left: 0px; top: 0px; }

#siteTable .thing .md pre code, .wiki-page-content .md pre code { background-color: transparent !important; line-height: 18px !important; display: block !important; padding: 0px !important; }

@media screen and (max-width: 1024px) { #header .tabmenu li:nth-of-type(6), #header .tabmenu li:nth-of-type(7), #header .tabmenu li:nth-of-type(9) { display: none; }
  .sheets { margin-right: 16px; }
  .stylesheet-customize-container ul#image-preview-list li { width: 303px; }
  .flairrow .tagline { width: 65px; }
  .flairlist .flaircell { width: 17ex; margin-right: 0ex; }
  .flairlist .flaircell input[type="text"] { width: 15ex; }
  .flairlist .header { width: 14ex; }
  h1 { color: #000; } }

@media screen and (max-width: 800px) { #header .tabmenu { line-height: 110px !important; margin-left: calc(50% - 350px) !important; }
  #header .pagename a { display: none !important; }
  body:not(.search-page) .side { margin: 505px 19px 50px 5px; }
  body:not(.search-page) .side .md h3 + blockquote { top: 238px; }
  body:not(.search-page) #search { top: 181px; }
  body:not(.search-page) #search::before { content: ""; background: #2E3E55; position: relative; display: block; margin-bottom: -35px; right: 16px; width: 332px; height: 40px; z-index: -1; }
  body:not(.search-page) #search #searchexpando { margin: 5px 32px 0 0; }
  .search-page .searchpane { padding-left: 30px !important; background-image: none !important; } }

@-webkit-keyframes toast { 0% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  20% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  25% { transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: 1; }
  27% { transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  92% { transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  97% { transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: 1; }
  100% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; } }

@-o-keyframes toast { 0% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  20% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  25% { transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: 1; }
  27% { transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  92% { transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  97% { transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: 1; }
  100% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; } }

@-moz-keyframes toast { 0% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  20% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  25% { transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: 1; }
  27% { transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  92% { transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  97% { transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: 1; }
  100% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; } }

@keyframes toast { 0% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  20% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  25% { transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: 1; }
  27% { transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  92% { transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  97% { transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: 1; }
  100% { transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; } }

@-webkit-keyframes shake { 0% { -webkit-transform: translateX(0); }
  20% { -webkit-transform: translateX(-5px); }
  40% { -webkit-transform: translateX(5px); }
  60% { -webkit-transform: translateX(-5px); }
  80% { -webkit-transform: translateX(5px); }
  100% { -webkit-transform: translateX(0); } }

@-moz-keyframes shake { 0% { -moz-transform: translateX(0); }
  20% { -moz-transform: translateX(-5px); }
  40% { -moz-transform: translateX(5px); }
  60% { -moz-transform: translateX(-5px); }
  80% { -moz-transform: translateX(5px); }
  100% { -moz-transform: translateX(0); } }

@-ms-keyframes shake { 0% { -ms-transform: translateX(0); }
  20% { -ms-transform: translateX(-5px); }
  40% { -ms-transform: translateX(5px); }
  60% { -ms-transform: translateX(-5px); }
  80% { -ms-transform: translateX(5px); }
  100% { -ms-transform: translateX(0); } }

@-o-keyframes shake { 0% { -o-transform: translateX(0); }
  20% { -o-transform: translateX(-5px); }
  40% { -o-transform: translateX(5px); }
  60% { -o-transform: translateX(-5px); }
  80% { -o-transform: translateX(5px); }
  100% { -o-transform: translateX(0); } }

@keyframes shake { 0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); } }
