@charset "UTF-8";


// Colour Variables (to be completed... eventually. I'm pretty lazy.)
$font1: #b8b6b4
$font2: #bfbfbf
$font3: #e1e1e1
$subreddit: "steamcss"

// Image Variables (also to be completed... eventually)
$img1: url(%%logo%%)

// Mixins
=box-shadow($shadows...)
    -moz-box-shadow: $shadows
    -webkit-box-shadow: $shadows
    box-shadow: $shadows

=grad2($dir, $col1, $per, $col2, $per2)
    background: $col1 // Older Browsers
    background: -webkit-linear-gradient($dir, $col1 $per, $col2 $per2) // Chrome10+,Safari5.1+
    background: -moz-linear-gradient($dir, $col1 $per, $col2 $per2)  // FF3.6+
    background: -ms-linear-gradient($dir, $col1 $per, $col2 $per2) // IE10+
    background: -o-linear-gradient($dir, $col1 $per, $col2 $per2) // Opera 11.10+

=grad3($dir, $col1, $per, $col2, $per2, $col3, $per3)
    background: $col1 // Older Browsers
    background: -webkit-linear-gradient($dir, $col1 $per, $col2 $per2, $col3 $per3) // Chrome10+,Safari5.1+
    background: -moz-linear-gradient($dir, $col1 $per, $col2 $per2, $col3 $per3)  // FF3.6+
    background: -o-linear-gradient($dir, $col1 $per, $col2 $per2, $col3 $per3) // Opera 11.10+
    background: -ms-linear-gradient($dir, $col1 $per, $col2 $per2, $col3 $per3) // IE10+

=anim($name, $dur, $type)
    -webkit-animation: $name $dur $type
    -moz-animation: $name $dur $type
    -o-animation: $name $dur $type
    -ms-animation: $name $dur $type
    animation: $name $dur $type

=transform($type)
    -webkit-transform: $type
    -moz-transform: $type
    -o-transform: $type
    -ms-transform: $type
    transform: $type

=transition($type)
    -webkit-transition: $type
    -moz-transition: $type
    -o-transition: $type
    -ms-transition: $type
    transition: $type

//Body & General Formatting


html
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*, *:before, *:after
    -webkit-box-sizing: inherit
    -moz-box-sizing: inherit
    box-sizing: inherit

.mod-toolbox
    #tb-bottombar
        -webkit-box-sizing: content-box
        -moz-box-sizing: content-box
        -o-box-sizing: content-box
        box-sizing: content-box
        &::before
            @extend #tb-bottombar
        &::after
            @extend #tb-bottombar
    div.sticky
        @extend #tb-bottombar

::-webkit-scrollbar
    width: 17px
    padding: 2px
    &-button
        background: rgba(0,0,0,0.4)
    &-track
        background: #161616
        border-radius: 3px
    &-thumb
        background: #565656
        border-radius: 3px
        &:hover
            background: #626262
body
    background: #1b2838
    .error
        color: rgb(204, 51, 0)
    span, div
        color: #fff
    textarea
        background-color: rgba(0,0,0,0.2 )
        +box-shadow(1px 1px 0 0 rgba(91,132,181,0.2 ))
        border-radius: 3px
        border: 1px solid #000
        outline: none
        padding: 4px 6px
        color: #C6D4DF
    button, //h1 > a
        +grad2(top, rgb(33,101,138), 5%, rgb(23,67,92), 95%)
        display: inline-block
        padding: 7px 15px
        border-radius: 2px
        border: none
        cursor: pointer
        text-decoration: none !important
        color: #A4D7F5 !important
        &:hover
            +grad2(top, rgb(102,192,244), 5%, rgb(47,137,188), 95%)
            text-decoration: none
            color: #fff !important
        &[type=submit], &[name=edit]
            +grad2(top, #a4d007, 5%, #536904, 95%)
            border: none
            color: #D2E885 !important
            &:hover
                +grad2(top, #b6d908, 5%, #80a006, 95%)
                text-decoration: none !important
                color: #fff !important
    .roundfield, .linefield, .tabbedpane
        background: rgba(0,0,0,0.4)
        min-width: 520px
        padding: 5px 15px 10px 15px
        border-radius: 0
        color: #ebebeb
    .roundfield
        textarea
            background-color: rgba(0,0,0,0.2)
            border: 1px solid #000
            border-radius: 3px
            +box-shadow(1px 1px 0 0 rgba(91,132,181,0.2))
            padding: 3px
            margin-bottom: 6px
            width: 492px
            font-size: 100%
            color: #C6D4Df
        input[type=text], input[type=url], input[type=password], input[type=number]
            @extend textarea
    .linefield
        padding: 7px 5px
        textarea, input[type=text], input[type=url], input[type=password], input[type=number]
            background-color: rgba(0,0,0,0.2)
            border: 1px solid #000
            border-radius: 3px
            +box-shadow(1px 1px 0 0 rgba(91,132,181,0.2))
            padding: 3px
            margin-bottom: 6px
            width: 492px
            font-size: 100%
            color: #C6D4Df
        .title
            color: #66C0F4
        &.flair-jump
            background: none
    button[class=RESBigEditorPop]
        background: rgba( 103, 193, 245, 0.2 ) !important
        border: none  !important
        margin: 5px 4px 0 10px !important
        padding: 6px 17px !important
        text-indent: 0 !important
        color: #67c1f5 !important
        &:hover
            +grad2(-60deg, #417a9b, 5%, #67c1f5, 95% !important)
            text-decoration: none !important
            color: #fff !important
    .expando-button.image, .expando-button.video-muted, .expando-button.selftext.collapsed, .expando-button.selftext.expanded, .eb-se, .expando-button.selftext.collapsed:hover, .eb-sch, .expando-button.selftext.expanded:hover, .eb-seh, .expando-button.video.collapsed, .expando-button.video.expanded, .eb-ve, .expando-button.video.expanded:hover, .eb-veh, .expando-button.video.collapsed:hover, .eb-vch
        background-color: transparent

//Header
#header
    border-bottom: none
    background: #171a21
    z-index: 99
    height: 122px
    #sr-header-area
        background: #101822
        border-bottom: 1px solid rgba(128,128,128,0.49)
        .sr-bar, .sr-bar a, .dropdown.srdrop .selected
            color: #b8b6b4
        .drop-choices.srdrop
            +grad3(left, #1e5799, 0%, #5e5a58, 0%, #3c3a39, 100%)
            a
                color: $font2
                &:hover
                    background: #212d3d
        #RESShortcutsEditContainer
            background: transparent !important
            color: #8ED1F9 !important
            #RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash
                @extend #RESShortcutsEditContainer
        #sr-more-link
            background-color: #5195C5
            padding: 0 5px 0 6px
    #header-bottom-left
        font-size: larger
        #header-img
            display: none !important
        .pagename
            font-size: 0px !important
            a
                background: url(%%logo%%) no-repeat
                position: absolute
                display: block
                top: 48px
                left: 24px
                width: 176px
                height: 44px
                text-indent: -30000px
        .tabmenu
            line-height: 90px
            margin-left: 225px
            li
                &.selected a
                    background: none
                    border: none
                    font-size: inherit
                    color: #fff
                a
                    background: none
                    padding: 2px 6px 0 6px
                    font-weight: normal
                    text-transform: uppercase
                    color: $font1
                    &:hover
                        text-decoration: none
                        color: #fff
    #header-bottom-right
        background: none
        margin-bottom: 80px
        .res &
            top: 19px
        a
            color: $font1
        #userbarToggle
            background: #535b5f !important
            border-right: none !important
            border-radius: 18px !important
            padding-right: 0 !important
            top: 5px !important
            left: 0 !important
            width: 15px !important
            height: 15px !important
            min-height: initial !important
            line-height: 14px !important
            text-align: center !important
            font-size: 14px !important
            color: $font1 !important
        .user
            color: $font1
            a
                color: $font1
        #RESAccountSwitcherIcon
            background: url(%%usprites%%) no-repeat !important
            background-position: 0px 0px
            width: 16px !important
        @at-root #RESAccountSwitcherIconOverlay
            background: url(%%usprites%%) no-repeat !important
            background-position: -14px 3px !important
            width: 17px !important
            height: 16px
        // Custom Mail Icons & New Messages Popup
        #mail
            &.havemail
                @extend #RESAccountSwitcherIcon
                background-position: -17px -37px !important
                &::before
                    content: ""
                    position: fixed
                    background: url(%%mailn%%)
                    background-repeat: no-repeat
                    background-size: 80px 57px
                    background-position: -16px -7px
                    +box-shadow(0 0 0 1px #5e7944)
                    border: 3px solid #96c05e
                    border-radius: 5px
                    width: 49px
                    height: 43px
                    bottom: 15px
                    right: 233px
                    -webkit-transform: translateY(112px)
                    transform: translateY(112px)
                    transition: background-color .25s ease, box-shadow .25s ease
                    animation-name: toast
                    animation-duration: 8s
                    animation-iteration-count: 1
                    animation-timing-function: ease
                    -webkit-animation-name: toast
                    -webkit-animation-duration: 8s
                    -webkit-animation-iteration-count: 1
                    -webkit-animation-timing-function: ease
                    z-index: 101
                &::after
                    content: "You have new messages!"
                    +grad2(top, #353432, 0%, #1f1d1e, 100%)
                    position: fixed
                    border-radius: 2px
                    +box-shadow(0 1px 5px rgba(0,0,0,0.24))
                    padding: 16px 24px
                    bottom: -1px
                    right: 3px
                    width: 300px
                    text-indent: 66px
                    line-height: 45px !important
                    font-family: arial, sans-serif
                    font-size: 14px
                    -webkit-transform: translateY(112px)
                    transform: translateY(112px)
                    transition: background-color .25s ease, box-shadow .25s ease
                    animation-name: toast
                    animation-duration: 8s
                    animation-iteration-count: 1
                    animation-timing-function: ease
                    -webkit-animation-name: toast
                    -webkit-animation-duration: 8s
                    -webkit-animation-iteration-count: 1
                    -webkit-animation-timing-function: ease
                    z-index: 100
                @at-root .mod-toolbox &.havemail::before
                    bottom: 40px
                @at-root .mod-toolbox &.havemail::after
                    bottom: 24px

            &.nohavemail
                @extend #RESAccountSwitcherIcon
                background-position: -1px -37px !important
        #modmail
            &.havemail
                @extend #RESAccountSwitcherIcon
                background-position: -16px -17px !important
            &.nohavemail
                @extend #RESAccountSwitcherIcon
                background-position: 0px -17px !important

// Side bar
.side
    background: rgba(0,0,0, 0.2)
    padding: 16px
    margin: 450px 19px 50px 5px
    width: 332px
    // SEARCH BAR
    @at-root body:not(.search-page) #search
        position: absolute
        top: 137px
        z-index: 1
    @at-root #search
        input[type=text]
            background: #5195c5
            border: none
            border-radius: 5px
            +box-shadow(inset 0 0 6px rgba(0,0,0, 0.91))
            height: 30px
            font-size: 13px
            &::-webkit-input-placeholder
                font-style: italic
                color: #305d8a
            &:-moz-input-placeholder
                font-style: italic
                color: #305d8a
            &::-moz-input-placeholder
                font-style: italic
                color: #305d8a
            &::-ms-input-placeholder
                font-style: italic
                color: #305d8a

        #searchexpando, #moresearchinfo
            color: #5491cf
        .infobar
            background: #212f43
            border-color: #7A9CD3
    // MORELINK
    .morelink
        background-color: rgba(103,193,245,0.2)
        background-image: none
        display: block
        border: none
        border-radius: 2px
        padding: 1px
        div.nub
            display: none
        a
            color: #67c1f5
            font-weight: normal
        &:hover
            +grad2(-60deg, #417a9b, 5%, #67c1f5, 95%)
            a
                color: #fff !important
    .sidebox.submit.submit-link
        margin-top: -12px
    // Titlebox & Subscribers (Non-RES)
    .titlebox
        .redditname
            text-align: center
            text-decoration: none
            a
                color: #fff
                text-transform: capitalize
                &:hover
                    text-decoration: none
                &::before
                    content: "/r/"
                    text-transform: none
            & + div
                text-align: center
        .users-online
            display: inline
            &::before, .word
                display: none
            .number
                &::before
                    content: " ("
                &::after
                    content: ")"
        .subscribers
            display: inline
        .fancy-toggle-button
            .add
                +grad2(top, #a4d007, 5%, #536904, 95%)
                border: none !important
                border-radius: 2px !important
                font-weight: normal !important
                color: #d2e885 !important
                &:hover
                    +grad2(top, #b6d908, 5%, #80a006, 95%)
            .remove
                +grad2(top, rgb(47,137,188), 5%, rgb(23,67,92), 95%)
                border: none !important
                border-radius: 2px !important
                font-weight: normal !important
                color: #fff !important
                &:hover
                    +grad2(top, rgb(102,192,244), 5%, rgb(47,137,188), 95%)
            @at-root body:not(.res) &
                margin-left: calc(332px / 2 - 100px)
        .leavemoderator, .toggle.leavecontributor-button, .flairtoggle, .tagline
            display: none
    // Titlebox & Subscribers (RES)
    @at-root .res
        .titlebox
            .users-online
                display: inline
                position: relative
                .word
                    display: inline
                .number
                    &::before
                        content: ", "
                    &::after
                        content: ""
            .subscribers
                display: inline
                position: relative
                margin-left: calc(50% - 89px)
            h1
                .redditname + div
                    text-align: center
                    color: #fff
            #subButtons-#{$subreddit}
                text-align: center
                padding-top: 5px
            .RESshortcutside, .RESDashboardToggle
                +grad2(top, #a4d007, 5%, #536904, 95%)
                border: none !important
                border-radius: 2px !important
                font-weight: normal !important
                color: #d2e885 !important
                &:hover
                    +grad2(top, #b6d908, 5%, #80a006, 95%)
                &.remove
                    +grad2(top, rgb(47,137,188), 5%, rgb(23,67,92), 95%)
                    border: none !important
                    border-radius: 2px !important
                    font-weight: normal !important
                    color: #fff !important
                    &:hover
                        +grad2(top, rgb(102,192,244), 5%, rgb(47,137,188), 95%)
    .sidecontentbox
        background: linear-gradient(to right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%) repeat scroll 0 0 rgba(0,0,0,0)
        .content
            border: none
            padding: 13px
        .title
            cursor: pointer
            padding-top: 13px
            &::after
                content: ""
                background: #1e323f
                border-top: 1px solid #000
                display: block
                margin-top: 8px
                height: 1px
            h1
                padding-left: 13px
                font-size: 12px
                color: #61696D
        .icon-menu
            a
                background: none
                color: $font3
                &:hover
                    text-decoration: none !important
                    color: #fff
        .gadget
            .score
                color: #8f98a0 !important
            .click-gadget
                a
                    color: $font3
        a
            &.helplink
                padding-top: 8px
                padding-right: 13px
                color: $font3
    .sidebox.create
        display: none
    // Custom Content Area
    .md
        color: #fff
        a
            color: #67c1f5
        p
            color: #A4A4A4
        h3
            margin: 0 0 8px 8
        hr
            background: #2F4459 !important
            height: 1px !important
            margin-top: 10px
            margin-bottom: 0px !important
        // Top Content Bar
        h6:last-of-type
            background: rgba(103,193,245,0.4)
            position: absolute
            display: block
            margin: 0 19px
            height: 35px
            top: 134px
            right: 0px
            left: 0px
        // Top Menu Container
        blockquote
            &:first-of-type
                position: absolute
                border-left: none
                top: 129px
                left: 6px
                z-index: 1
            //Turns first paragraph into menu title
            p
                &:first-child
                    background: #eff7ff
                    border: 1px solid #cee3f8
                    padding: 5px
                    margin-top: 0px
                    float: left
                    font-weight: bold
                    color: reddiquette
                    cursor: default
            //Menu Item Containers
            ul
                background: #417A9B
                padding: 0
                margin-top: 0
                max-height: 35px
                overflow: hidden
                float: left
                text-align: center
                color: #fff !important
                +transition(opacity 0.3s ease)
                &:hover //Expand on hover
                    max-height: 100%
                li
                    &:first-child
                        background: none
                        border-right: 1px solid #000
                        display: block
                        height: 35px
                        line-height: 35px
                        font-size: 12px
                        cursor: default
                        &:hover
                            +grad2(-60deg, #67c1f5, 0%, #417a9b, 100%)
                            color: #fff
                            a
                                color: #fff
                    &:first-of-type:not(:only-child)
                        a::after
                            content: ""
                            background: url(%%expand%%)
                            position: relative
                            display: inline-block
                            padding: 0
                            top: 2px
                            left: 5px
                            width: 19px
                            height: 12px
                    &:not(:first-of-type)
                        a
                            padding: 5px 12px
                            color: #e5e4dc
                            &:hover
                                background: #212d3d
                    a
                        display: block
                        padding: 0 15px
                        font-size: 13px
                        color: #67c1f5
        // Sidebar Image
        h3 + blockquote
            +grad2(left, #1c3249, 0%, #111a23, 100%)
            position: absolute
            border: none
            padding-left: 18px
            padding-right: 18px
            padding-bottom: 3px
            top: 183px
            right: 19px
            width: 332px
            height: 369px
            color: #fff
            a
                &::before
                    content: ""
                    background: url(%%sidebarimg%%)
                    background-size: 100%
                    position: relative
                    display: block
                    top: -7px
                    right: 18px
                    width: 332px
                    height: 300px
            h1
                margin-bottom: -5px !important
                font-weight: normal
                font-size: 21px
                color: #c7d5e0 !important
                a
                    color: #c7d5e0 !important
    .linkinfo
        +grad2(-45deg, #5f8fc6, 0%, #416393, 100%)
        border: none
        margin: -12px 0 28px 0
        color: #DCDCDC
    h1 + h1:not(:empty)
        color: #FFFFFF !important
        border-bottom: 1px solid #3A6E8B !important
        margin-bottom: 4px
    h1 + ol
        margin-left: 3px
        margin-right: -5px
        padding-left: 0
        counter-reset: li
        &>li
            background: rgba(103,193,245,0.1)
            position: relative
            display: block
            padding: 4.8px 0px 0px 9.5px
            margin: 0 5px 2px 28px
            min-height: 26px
            +transition(all .2s ease-out)
            //text-indent: 30px
            text-decoration: none
            color: #67c1f5
            p
                margin: 0
                line-height: 2em
                margin-right: 25px
            a
                color: #67c1f5
            &:hover
                +grad2(-60deg, #67c1f5, 0%, #417a9b, 100%)
                color: #fff
                &::after
                    left: -3px
                    border-left-color: #121A24
                a
                    color: #fff
            &::before
                content: counter(li)
                counter-increment: li
                position: absolute
                left: -31px
                background-color: rgba(0,0,0,0.2)
                height: 26px
                width: 30px
                line-height: 2em
                text-align: center
                font-weight: bold
                text-indent: 0
                top: 0
            &::after
                content: ""
                position: absolute
                border: 10px solid transparent
                left: -1em
                top: calc(50% - 10px)
                +transition(all .2s ease-out)
    h2 + ol
        margin-left: 3px
        margin-right: -5px
        padding-left: 0
        counter-reset: li
        &>li
            position: relative
            display: block
            margin: 2px 5px 0 0
            min-height: 26px
            background: rgba(103,193,245,0.1)
            color: #67c1f5
            text-decoration: none
            -webkit-transition: all .2s ease-out
            -moz-transition: all .2s ease-out
            -ms-transition: all .2s ease-out
            -o-transition: all .2s ease-out
            transition: all .2s ease-out
            &:hover
                +grad2(-60deg, #67c1f5, 0%, #417a9b, 100%)
                color: #fff
                &::after
                    left: 25px
                    border-left-color: #121A24
                a
                    color: #fff !important
                p
                    color: #fff !important
                & > ul
                    max-height: 200px
            &::before
                content: counter(li)
                counter-increment: li
                position: absolute
                background-color: #121A24
                height: 26px
                width: 30px
                line-height: 2em
                text-align: center
                font-weight: bold
                text-indent: 0
                top: 0
                left: 0
            &::after
                content: ""
                position: absolute
                border: 10px solid transparent
                left: 20px
                top: 4px
                +transition(all .2s ease-out)
            p
                margin-top: 0 !important
                margin-bottom: 0 !important
                margin-right: 25px
                line-height: 2em
                padding: 6px 0 0 37px
                color: #67c1f5 !important
            a
                color: #67c1f5
            & > ul
                background: #1B2838
                padding-left: 0
                margin-top: 0
                margin-bottom: 2px !important
                max-height: 0
                overflow: hidden
                +transition(all .5s .2s ease)
                list-style: none
                text-indent: 0
                color: #fff
                & > li
                    padding: 10px
    h3 + ol
        margin-left: -2px
        margin-right: -5px
        padding-left: 0
        counter-reset: li
        &>li
            position: relative
            display: block
            margin: 0 5px 2px 17px
            min-height: 26px
            background: rgba(103,193,245,0.1)
            color: #67c1f5
            text-decoration: none
            -webkit-transition: all .2s ease-out
            -moz-transition: all .2s ease-out
            -ms-transition: all .2s ease-out
            -o-transition: all .2s ease-out
            transition: all .2s ease-out
            &:hover
                +grad2(-60deg, #67c1f5, 0%, #417a9b, 100%)
                color: #fff
                &::before
                    background: #67c1f5
                    color: #000
                a
                    color: #fff
            &::before
                content: counter(li)
                counter-increment: li
                position: absolute
                left: -17px
                top: calc(50% - 12px)
                line-height: 19px
                background: #121A24
                height: 2em
                width: 2em
                border: 2px solid #16202D
                text-align: center
                font-weight: bold
                -moz-border-radius: 2em
                -webkit-border-radius: 2em
                border-radius: 2em
                -webkit-transition: all .3s ease-out
                -moz-transition: all .3s ease-out
                -ms-transition: all .3s ease-out
                -o-transition: all .3s ease-out
                transition: all .3s ease-out
            p
                padding: 6px .4em 6px .8em
                margin-top: 0 !important
                margin-bottom: 0 !important
            a
                color: #67c1f5
            &>ul
                padding: 0
                margin: 0
                z-index: 99999
                position: relative
                max-height: 0
                margin-top: 0 !important
                margin-bottom: 0 !important
                border-width: 0 1px
                overflow: hidden
                transition: all .5s .2s ease
                -moz-transition: all .5s .2s ease
                -webkit-transition: all .5s .2s ease
                -o-transition: all .5s .2s ease
                &>li
                    display: block
                    margin: 0
                    padding: 10px
                    text-indent: 0
                    background-color: #FFF
                    color: #000
    h1 + ul
        margin-right: -5px
        padding-left: 0
        &>li
            position: relative
            display: block
            padding: .4em .4em .4em .8em
            margin: 0 5px 2px 0
            height: 26px
            background: rgba(103,193,245,0.1)
            color: #67c1f5
            text-decoration: none
            -webkit-transition: all .2s ease-out
            -moz-transition: all .2s ease-out
            -ms-transition: all .2s ease-out
            -o-transition: all .2s ease-out
            transition: all .2s ease-out
            &:hover
                +grad2(-60deg, #67c1f5, 0%, #417a9b, 100%)
                color: #fff
                a
                    color: #fff
            a
                color: #67c1f5
    h2 + ul
        background: #1B2838
        border: 1px solid #28394d
        border-radius: 2px
        padding-left: 0
        padding-bottom: 4px
        color: #9fbbcb
        &>li:first-of-type
            background: #2a3f5a
            padding: 4px
            margin: 0
            font-size: 12px
            text-indent: 1px
            color: #8f98a0
            &:hover
                background: #2a3f5a
                color: #8f98a0
                border-radius: 0
        li
            position: relative
            display: block
            padding: .4em .4em .4em .8em
            margin: 4px 4px 2px 4px
            height: 26px
            color: #9fbbcb
            text-decoration: none
            font-size: 13px
            +transition(background .2s ease-out)
            &:hover
                +grad2(-60deg, #67c1f5, 0%, #417a9b, 100%)
                color: #fff !important
                border-radius: 1px
                a
                    color: #fff !important
            a
                color: #9fbbcb !important
                font-size: 13px
    h3 + ul
        padding-left: 16px
        list-style-type: square
        &>li
            position: relative
            margin: 0 0 5px
            line-height: 21px
            color: #A4A4A4
            text-decoration: none
            -webkit-transition: all .2s ease-out
            -moz-transition: all .2s ease-out
            -ms-transition: all .2s ease-out
            -o-transition: all .2s ease-out
            transition: all .2s ease-out
            &:hover
                color: #fff
                a
                    color: #fff
            a
                color: #67c1f5
            p
                color: #67c1f5

// Content
.content
    margin: 59px 366px 5px 19px
    .reddit-infobar
        background: url(%%locked%%)
        border: none
        top: 44px
        margin-bottom: -49px
        margin-right: 0px
        padding-left: 34px
        .md
            font-size: 14px
            color: #8F98A0
            p
                line-height: 0px !important
        &.with-icon
            min-height: initial
            &::before
                content: ""
                background: url(%%lock%%)
                display: block
                margin-top: 8px
                margin-left: 11px
                width: 16px
                height: 15px
    .thing
        .title:visited, &.visited .title
            font-weight: bold
            color: $font3
        .entry
            &.RES-keyNav-activeElement
                background: none transparent!important
                div.md, .user-text-body, div.noncollapsed
                    @extend .RES-keyNav-activeElement
                div.md
                    background: #1e2d40 !important
                    border-radius: 7px
        &.link
            background: rgba(84,133,183,0.2)
            padding: 10px
            margin-bottom: 2px
            &:hover
                background-color: rgba(117,186,255,0.3)
            .rank, .rank-spacer
                width: 1.1ex
                display: none
            .midcol
                overflow: visible
            .arrow
                background-image: url(%%sprites%%) !important
                border: none !important
                outline: none !important
                margin: 2px 0 0 0
                margin-right: auto
                margin-left: auto
                &.up
                    background-position: 0 -24px
                    opacity: 0.6
                &.upmod
                    background-position: -15px -24px
                    opacity: 0.9
                &.down
                    background-position: -30px -24px
                    opacity: 0.6
                &.downmod
                    background-position: -45px -24px
                    opacity: 0.9
            .title
                font-weight: bold
                color: $font3
                .domain, .domain a
                    color: $font1
                .tagline
                    color: #939393
                @at-root a.author
                    color: #8ED1F9
            .usertext-body
                .md
                    background: #1E2D40 !important
                    border: 1px solid #369
                    border-radius: 7px
            .comments-page &
                +grad2(-45deg, #395174, 0%, #212f43, 100%)
                +box-shadow(0 0 5px #000)
        // Stickied submission formatting
        &.stickied
            a.title, a.title:visited, a.title.visited
                font-weight: normal
                color: #dcdcdc
            .score
                color: #8f98a0
            .tagline
                .stickied-tagline
                    color: #AEDD08
            .listing-page &
                p.title
                    &::before
                        content: "PINNED: "
                        font-weight: bold
                        font-size: 14px
                        color: #AEDD08
                .midcol
                    &::before
                        content: ""
                        background: url(%%pin%%)
                        position: absolute
                        display: block
                        margin-top: 17px
                        margin-left: 3px
                        width: 16px
                        height: 15px
                        -webkit-transition-duration: 0.2s
                        transition-duration: 0.2s
                    .arrow, .score
                        +transform(scale(0.0))
                        -webkit-transition: -webkit-transform 0.2s
                        transition-duration: 0.2s
                    &:hover
                        &::before
                            +transform(scale(0.0))
                        .arrow
                            +transform(scale(1.0))
                            display: block !important //Unnecessary?
                        .score
                            +transform(scale(1.0))
            .comments-page &
                margin-top: 104px
                &::before
                    content: ""
                    background: url(%%pin%%)
                    position: absolute
                    top: 190px
                    left: 30px
                    width: 16px
                    height: 16px
                    z-index: 1
                &::after
                    content: "This topic has been pinned, so it's probably important"
                    background: #364a2e
                    display: block
                    position: absolute
                    padding: 8px
                    top: 181px
                    left: 19px
                    right: 366px
                    font-size: 14px
                    text-indent: 26px
                    color: #AEDD08
        // Locked submission formatting
        &.linkflair
            &-lock
                background: url(%%locked%%)
                .midcol
                    &::before
                        content: ""
                        background: url(%%lock%%)
                        display: block
                        margin-top: 18px
                        margin-left: 3px
                        width: 16px
                        height: 15px
                    &:hover
                        &::before
                            +anim(shake, 0.5s, ease-in-out)
                    .arrow, .score
                        display: none !important
                // Notification bar above submission body
                .comments-page &
                    background: -webkit-linear-gradient(top, rgba(57, 81, 116, 0.2) 0%, rgba(57, 81, 116, 0.2) 100%), url(%%locked%%) repeat 0 0, url(%%locked%%) repeat 0 0
                    margin-top: 104px
                    &::before
                        content: ""
                        background: url(%%lock%%)
                        position: absolute
                        top: 190px
                        left: 30px
                        width: 16px
                        height: 16px
                        z-index: 1
                    &::after
                        content: "This topic has been locked"
                        background: url(%%locked%%)
                        position: absolute
                        display: block
                        padding: 8px
                        top: 181px
                        left: 19px
                        right: 366px
                        text-indent: 26px
                        font-size: 14px
                        color: #8F98A0

// Footer
.footer-parent
    background: rgba(0,0,0,0.4)
    .footer
        border: none
        .col
            border: none
            .flat-vert
                .title
                    color: #8f98a0
                    text-transform: capitalize
                ul li a:hover
                    text-transform: none !important
        a
            color: #fff !important
.debuginfo
    background: rgba(0,0,0,0.4)
    &::before
        content: "Theme by /u/Soul_Shot"
        float: left
        line-height: 5px

// Comment Page
.comments-page
    .thing.comment, .res-commentBoxes .comment
        background-color: rgba(32,47,67,0.8)
        border: 1px solid #26384f !important
        border-radius: 0 !important
        margin-bottom: 2px !important
        padding: 11px !important
        +box-shadow(0 0 5px #000)
    .usertext
        @at-root .bottom-area
            a.reddiquette
                background: rgba(0,0,0,0.5)
                border: none
                border-radius: 2px
                display: inline-block
                margin-top: 8px
                padding: 0 5px
                line-height: 22px
                cursor: pointer
                text-decoration: none !important
                color: #67c1f5 !important
            .help-toggle
                @extend a.reddiquette
                .option
                    color: #67c1f5 !important
        &.border .usertext-body
            background: none
    @at-root .res-commentBoxes .comment .comment, .res-commentBoxes .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment
        background-color: #1E2D40 !important
        border: 1px solid rgba(42, 67, 99, 0.45)!important
        +box-shadow(none)
    .linklisting .md, .commentarea .md
        color: #acb2b8 !important
    .new-comment .usertext-body
        background-color: #395174
        border: solid 1px #466A9B
    .comment .child, .comment .showreplies
        border: none
    span
        &.score
            color: #8f98a0 !important

// Search Page
.search-page
    .searchpane
        background-color: rgba(0,0,0,0.4)
        border: none
        border-radius: 0
        margin: 0

// Submit Page
.submit-page
    h1:first-of-type
        margin-top: -4px
        color: #67c1f5
        text-transform: capitalize
        a
            color: #67c1f5
            &::before
                content: "/r/"
                text-transform: lowercase
    .content.submit
        margin: 15px 0px 0px 0px
    .usertext
        .markdownEditor-wrapper, &-edit
            width: 490px !important
    .tabmenu
        line-height: initial
        margin-left: 0
        padding-left: 0 !important
        margin-bottom: 5px !important
        &.formtab
            .selected a
                +grad2(top, #66c0f4, 5%, #417b9c, 95%)
                border: none
                border-radius: 2px
                border-bottom-left-radius: 0px
                border-bottom-right-radius: 0px
                margin-top: 0
                padding: 5px 18px
                height: 34px
                text-decoration: none
                font-size: 130%
                color: #fff
            li
                margin-right: 5px
            a
                background-color: rgba(0,0,0,0.5)
                border: none
                border-radius: 2px
                border-bottom-left-radius: 0px
                border-bottom-right-radius: 0px
                padding: 5px 18px
                font-weight: normal
                text-transform: none
                color: #dadada
                &:hover
                    background-color: rgba(102,192,244,0.8)
                    color: #fff
    .formtabs-content
        .infobar
            background: rgba(0,0,0,0.2)
            border: none
            margin: 0
            margin-top: -9px
            color: #fff
    .info-notice
        background-color: rgba(0,0,0,0.4) !important
        border: none !important
        padding: 9px !important
        font-weight: bold
    #reddit-field
        display: none

// Settings Page
.tabpane-content
    border: none
    .tabbedpane
        border-top: 5px solid #417b9c
        .flair-jump
            form[method=get]
                width: 430px
                button[type=submit]
                    background: rgba( 103, 193, 245, 0.2 )
                    border: none
                    color: #67c1f5 !important
                    padding: 6px 17px
                    float: right
                    &:hover
                        +grad2(-60deg, #417a9b, 5%, #67c1f5, 95%)
                        text-decoration: none
                        color: #fff
    .usertable
        >.toggle
            background: rgba( 103, 193, 245, 0.2 )
            border: none
            padding: 6px 17px
            &:hover
                +grad2(-60deg, #417a9b, 5%, #67c1f5, 95%)
                text-decoration: none
                color: #fff
            .togglebutton, .error
                border: none
                margin-left: 0
                color: #67c1f5 !important
.tabmenu
    li.selected a
        +grad2(top, #66c0f4, 5%, #417b9c, 95%)
        border: none
        border-radius: 2px
        border-bottom-left-radius: 0px
        border-bottom-right-radius: 0px
        margin-top: 0
        padding: 5px 18px
        height: 34px
        text-decoration: none
        font-size: 130%
        color: #fff
    #tab-grant, #tab-templates, #tab-link_templates
        a
            background-color: rgba(0,0,0,0.5)
            border: none
            border-radius: 2px
            border-bottom-left-radius: 0px
            border-bottom-right-radius: 0px
            padding: 5px 18px
            font-weight: normal
            text-transform: none
            color: #dadada
            &:hover
                background-color: rgba(102,192,244,0.8)
                color: #fff

// Stylesheet Page
.stylesheet-customize-container
    background: rgba(0,0,0,0.2)
    padding: 1px 0 0px 16px
    h2:first-of-type
        margin-top: 10px
        text-transform: capitalize
        color: #67c1f5
        font-weight: normal
        font-size: 18px
    .error
        color: rgb(204, 51, 0)
        margin-bottom: 28px
        margin-top: 13px
        padding-bottom: 16px
    ul#image-preview-list
        margin: -15px
        li
            background: rgba(0,0,0,0.2)
            float: left
            position: relative
            padding: 8px 8px
            margin: 0 5px 5px -1px
            width: 314px
            overflow: hidden


//EnTypo Formatting (Because I'm too lazy to make formatting myself)
#siteTable .thing, .wiki-page-content
    .md
        padding: 0px 10px 10px 10px
        h1, h2, h3, p, blockquote, ul, ol, hr, pre, table
            font-family: "Trebuchet MS", Helvetica, sans-serif
            margin: 20px 10px 10px 10px
        h1
            text-align: center
            font-size: 34px
            color: #fff
            text-shadow: 1px 1px 0 #000000
            font-weight: normal
        h2
            font-size: 24px
            font-weight: normal
            color: #c6d4df
        h3
            font-size: 18px
            font-weight: normal
            color: #fff
        h4
            color: #67c1f5
            font-size: 18px
            font-weight: normal
        h5
            margin: -5px 10px 10px 10px
            color: #666666
            font-family: Arial, Helvetica, sans-serif
            font-weight: normal
            font-style: italic
            font-size: 14px
        h6
            margin: 40px 80px
            color: #666666
            font-family: Arial, Helvetica, sans-serif
            font-weight: normal
            text-align: center
            font-style: italic
            font-size: 14px
        p
            line-height: 20px
            font-size: 14px
        ul, ol
            border-right: solid 1px #eaeaea
            border-left: solid 1px #eaeaea
            border-top: solid 1px #eaeaea
            line-height: 20px
            font-size: 14px
            padding: 0
        ul li, ol li
            border-bottom: solid 1px #eaeaea
            background-color: #f8f8f8
            padding: 5px
        ul li:nth-child(odd), ol li:nth-child(odd)
            background-color: #f2f2f2
        ul
            list-style: none
        ol
            list-style-position: inside
        blockquote
            padding: 1px 10px 10px 10px
            border-left: solid 5px #aaaaaa
            background-color: #f2f2f2
            line-height: 20px
            font-size: 14px
        hr
            margin: 40px 80px
            background-color: #cccccc
            border: none
            height: 1px
        code
            background-color: #f2f2f2
            display: inline-block
            padding: 2px 4px
        table thead tr th
            background-color: #dddddd
            font-weight: normal
            padding: 10px 20px
            font-size: 14px
            border: none
        table tbody tr
            border-bottom: solid 1px #eaeaea
        table tbody tr td
            padding: 10px 20px
            border: none
        pre
            padding: 18px 10px 18px 52px
            background-color: #45699A
            color: #fff
            border: 1px solid #8ED1F9
            position: relative
            line-height: 18px
            font-size: 12px
            display: block
            width: auto
        pre::before
            content: "#  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100  101  102  103  104  105  106  107  108  109  110  111  112  113  114  115  116  117  118  119  120  121  122  123  124  125  126  127  128  129  130  131  132  133  134  135  136  137  138  139  140  141  142  143  144  145  146  147  148  149  150  151  152  153  154  155  156  157  158  159  160  161  162  163  164  165  166  167  168  169  170  171  172  173  174  175  176  177  178  179  180  181  182  183  184  185  186  187  188  189  190  191  192  193  194  195  196  197  198  199  200  201  202  203  204  205  206  207  208  209  210  211  212  213  214  215  216  217  218  219  220  221  222  223  224  225  226  227  228  229  230  231  232  233  234  235  236  237  238  239  240  241  242  243  244  245  246  247  248  249  250  251  252  253  254  255  256  257  258  259  260  261  262  263  264  265  266  267  268  269  270  271  272  273  274  275  276  277  278  279  280  281  282  283  284  285  286  287  288  289  290  291  292  293  294  295  296  297  298  299  300  301  302  303  304  305  306  307  308  309  310  311  312  313  314  315  316  317  318  319  320  321  322  323  324  325  326  327  328  329  330  331  332  333  334  335  336  337  338  339  340  341  342  343  344  345  346  347  348  349  350  351  352  353  354  355  356  357  358  359  360  361  362  363  364  365  366  367  368  369  370  371  372  373  374  375  376  377  378  379  380  381  382  383  384  385  386  387  388  389  390  391  392  393  394  395  396  397  398  399  400  401  402  403  404  405  406  407  408  409  410  411  412  413  414  415  416  417  418  419  420  421  422  423  424  425  426  427  428  429  430  431  432  433  434  435  436  437  438  439  440  441  442  443  444  445  446  447  448  449  450  451  452  453  454  455  456  457  458  459  460  461  462  463  464  465  466  467  468  469  470  471  472  473  474  475  476  477  478  479  480  481  482  483  484  485  486  487  488  489  490  491  492  493  494  495  496  497  498  499  500 "
            border-right: solid 2px #6AC7FF
            background-color: #395174
            padding: 0px 10px 0px 5px
            white-space: pre-wrap
            position: absolute
            line-height: 18px
            text-align: right
            overflow: hidden
            font-size: 12px
            height: 100%
            width: 18px
            left: 0px
            top: 0px
        pre code
            background-color: transparent !important
            line-height: 18px !important
            display: block !important
            padding: 0px !important

//Media queries to fix things for poor people
@media screen and (max-width:1024px)
    #header
        .tabmenu
            li:nth-of-type(6), li:nth-of-type(7), li:nth-of-type(9)
                display: none
    .sheets
        margin-right: 16px
    .stylesheet-customize-container
        ul#image-preview-list
            li
                width: 303px
    .flairrow
        .tagline
            width: 65px
    .flairlist
        .flaircell
            width: 17ex
            margin-right: 0ex
            input[type="text"]
                width: 15ex
        .header
            width: 14ex
    h1
        color: #000

@media screen and (max-width:800px)
    #header
        .tabmenu
            line-height: 110px !important
            margin-left: calc(50% - 350px) !important
        .pagename
            a
                display: none !important
    body:not(.search-page)
        .side
            margin: 505px 19px 50px 5px
            .md
                h3 + blockquote
                    top: 238px
        #search
            top: 181px
            &::before
                content: ""
                background: #2E3E55
                position: relative
                display: block
                margin-bottom: -35px
                right: 16px
                width: 332px
                height: 40px
                z-index: -1
            input[type=text]
                //margin-left: -1px
            #searchexpando
                margin: 5px 32px 0 0
    .search-page
        .searchpane
            padding-left: 30px !important
            background-image: none !important


//Frames and whatnot

// Shamelessly stolen from /r/Naut, because it's sexy
@-webkit-keyframes toast{0%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}20%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}25%{transform:translateY(-8px);-webkit-transform:translateY(-8px);opacity:1}27%{transform:translateY(00px);-webkit-transform:translateY(00px);opacity:1}92%{transform:translateY(00px);-webkit-transform:translateY(00px);opacity:1}97%{transform:translateY(16px);-webkit-transform:translateY(16px);opacity:1}100%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}}@-o-keyframes toast{0%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}20%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}25%{transform:translateY(-8px);-webkit-transform:translateY(-8px);opacity:1}27%{transform:translateY(00px);-webkit-transform:translateY(00px);opacity:1}92%{transform:translateY(00px);-webkit-transform:translateY(00px);opacity:1}97%{transform:translateY(16px);-webkit-transform:translateY(16px);opacity:1}100%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}}@-moz-keyframes toast{0%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}20%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}25%{transform:translateY(-8px);-webkit-transform:translateY(-8px);opacity:1}27%{transform:translateY(00px);-webkit-transform:translateY(00px);opacity:1}92%{transform:translateY(00px);-webkit-transform:translateY(00px);opacity:1}97%{transform:translateY(16px);-webkit-transform:translateY(16px);opacity:1}100%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}}@keyframes toast{0%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}20%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}25%{transform:translateY(-8px);-webkit-transform:translateY(-8px);opacity:1}27%{transform:translateY(00px);-webkit-transform:translateY(00px);opacity:1}92%{transform:translateY(00px);-webkit-transform:translateY(00px);opacity:1}97%{transform:translateY(16px);-webkit-transform:translateY(16px);opacity:1}100%{transform:translateY(76px);-webkit-transform:translateY(76px);opacity:0}}

// Lock Shake Animation
@-webkit-keyframes shake {0%{-webkit-transform: translateX(0);}20% {-webkit-transform: translateX(-5px);}40% {-webkit-transform: translateX(5px);}60% {-webkit-transform: translateX(-5px);}80% {-webkit-transform: translateX(5px);}100% {-webkit-transform: translateX(0);}}@-moz-keyframes shake {0%{-moz-transform: translateX(0);}20% {-moz-transform: translateX(-5px);}40% {-moz-transform: translateX(5px);}60% {-moz-transform: translateX(-5px);}80% {-moz-transform: translateX(5px);}100% {-moz-transform: translateX(0);}}@-ms-keyframes shake {0%{-ms-transform: translateX(0);}20% {-ms-transform: translateX(-5px);}40% {-ms-transform: translateX(5px);}60% {-ms-transform: translateX(-5px);}80% {-ms-transform: translateX(5px);}100% {-ms-transform: translateX(0);}}@-o-keyframes shake {0%{-o-transform: translateX(0);}20% {-o-transform: translateX(-5px);}40% {-o-transform: translateX(5px);}60% {-o-transform: translateX(-5px);}80% {-o-transform: translateX(5px);}100% {-o-transform: translateX(0);}}@keyframes shake {0%{transform: translateX(0);}20% {transform: translateX(-5px);}40% {transform: translateX(5px);}60% {transform: translateX(-5px);}80% {transform: translateX(5px);}100% {transform: translateX(0);}}
